brotlicffi==1.1.0.0
brotlipy==0.7.0
ConfigParser==6.0.0
cryptography>=2.3.1
Cython==0.29.23
dl==0.1.0
docutils>=0.17
googletrans==3.0.0
HTMLParser==0.0.2
importlib_metadata==3.10.0
ipaddr==2.2.0
keyring>=13.2.1
lockfile==0.12.2
lxml>=4.2.4
matplotlib==3.3.4
mock==4.0.3
mypy_extensions==0.4.3
numpy>=1.22.2
ordereddict==1.1
pandas==1.2.4
plotly_express==0.4.1
protobuf
pyOpenSSL>=18.0.0
pywin32==227
PyYAML>=5.4.1
serpapi==0.1.4
simplejson==3.19.2
streamlit
streamlit_authenticator==0.2.3
streamlit_elements==0.1.0
streamlit_option_menu==0.3.6
transformers.egg==info
typing_extensions==3.7.4.3
urllib3_secure_extra==0.1.0
wincertstore==0.2.1
wordcloud==1.9.2
xmlrpclib==1.0.1
zipp==3.4.1
zstandard==0.21.0
